* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: #ffffff;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/MoonStars.svg);
}

.light {
  --text-color: #000000;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/Sun.svg);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  color: var(--text-color);
}

.container {
  width: 100%;
  max-width: 36.75rem;
  padding: 0 1.5rem;
  margin: 3.5rem auto 0px;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  padding-bottom: 1.5rem;
}

header .profile-img {
  width: 7rem;
  border-radius: 50%;
}

header .username {
  font-weight: 500;
  line-height: 1.5rem;
  margin-top: 0.5rem;
}

ul {
  list-style: none;
}

.switch {
  position: relative;
  width: 4rem;

  margin: 4px auto;
}

.switch button {
  width: 2rem;
  height: 2rem;
  background: #ffffff var(--switch-bg-url) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-out 0.2s;
}

.switch button:hover {
  outline: 8px solid var(--highlight-color);
}

.light .switch button {
  animation: slide-in 0.2s forwards;
}

.switch span {
  display: block;
  width: 4rem;
  height: 1.5rem;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

main ul {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  gap: 1rem;
}

main ul li a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem 1.5rem;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 0.5rem;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none;
  font-weight: 500;

  opacity: 0;
  transform: translateY(20px);
  transition: background 0.2s, opacity 0.5s ease, transform 0.5s ease;
}

main ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

.show {
  opacity: 1;
  transform: translateY(0);
}

.social_links {
  display: flex;
  justify-content: center;

  padding: 1.5rem;

  font-size: 1.5rem;
}

.social_links a {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  border-radius: 50%;
  transition: background 0.2s;
}

.social_links a:hover {
  background-color: var(--highlight-color);
}

footer {
  text-align: center;
  padding: 1.5rem;
  font-size: 0.875rem;
}

@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }

  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

@keyframes slide-in {
  from {
    left: 0;
  }

  to {
    left: 50%;
  }
}

@keyframes slide-out {
  from {
    left: 50%;
  }

  to {
    left: 0;
  }
}
